#complianz{
  // Plugin specific variables down here please
  --cmplz-legacy-brand-primary: var(--cmplz-legacy-dark-blue);
  --cmplz-legacy-brand-secondary: var(--cmplz-legacy-blue);
  --cmplz-legacy-brand-primary-faded: var(--cmplz-legacy-blue-faded);
}
//@media (prefers-color-scheme: dark) {
//  :root {
//    // Borders and stuff;
//    --cmplz-legacy-border: 1px solid var(--cmplz-legacy-border-color);
//    --cmplz-legacy-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
//    --cmplz-legacy-box-shadow-dark: rgba(0, 0, 0, 0.2) 0px 4px 6px -1px, rgba(0, 0, 0, 0.12) 1px 0px 4px 1px;
//    --cmplz-legacy-border-color: #dfdfdf;
//
//    // RSP Brand Colors
//    --cmplz-legacy-black: #333;
//    --cmplz-legacy-white: #fff;
//    --cmplz-legacy-yellow: #f4bf3e;
//    --cmplz-legacy-blue: #009fff;
//    --cmplz-legacy-dark-blue: #1E73BE;
//    --cmplz-legacy-green: #2e8a37;
//    --cmplz-legacy-red: #D7263D;
//    --cmplz-legacy-pink: #E35899;
//    --cmplz-legacy-wp-blue: #007cba;
//
//    --cmplz-legacy-yellow-faded: #f2e6c9;
//    --cmplz-legacy-blue-faded: #ebf2f9;
//    --cmplz-legacy-green-faded: #ecf4ed;
//    --cmplz-legacy-red-faded: #fbebed;
//    --cmplz-legacy-pink-faded: #fceff5;
//    --cmplz-legacy-wp-blue-faded: #c6e0ef;
//
//    --cmplz-legacy-background-block-color: var(--cmplz-legacy-black);
//    --cmplz-legacy-background-color: var(--cmplz-legacy-grey-600);
//
//    //Input colors
//    --cmplz-legacy-input-background-color: #fff;
//    --cmplz-legacy-input-text-color: var(--cmplz-legacy-text-color);
//    --cmplz-legacy-input-border-color: var(--cmplz-legacy-grey-400);
//
//    --cmplz-legacy-text-color: rgba(255, 255, 255, 0.95);
//    --cmplz-legacy-text-color-invert: rgba(26, 26, 26, 0.95);
//    --cmplz-legacy-text-color-white: rgba(255, 255, 255, 0.95);
//    --cmplz-legacy-text-color-light: rgba(69, 69, 82, 0.95);
//
//    --cmplz-legacy-grey-100: #fafafa;
//    --cmplz-legacy-grey-200: #f9f9f9;
//    --cmplz-legacy-grey-300: #ededed;
//    --cmplz-legacy-grey-400: #c6c6c6;
//    --cmplz-legacy-grey-500: #737373;
//    --cmplz-legacy-grey-600: #696969;
//
//    // Notification colors
//    --cmplz-legacy-color-success: var(--cmplz-legacy-green);
//    --cmplz-legacy-color-error: var(--cmplz-legacy-red);
//    --cmplz-legacy-color-open: var(--cmplz-legacy-yellow);
//    --cmplz-legacy-color-disabled: var(--cmplz-legacy-grey-300);
//  }
//  .cmplz-settings-header .cmplz-header-logo{
//    filter: brightness(0) invert(1);
//  }
//}
