.cmplz-support-alert {
  padding: var(--cmplz-legacy-spacing-s) var(--cmplz-legacy-spacing-m);
  border-radius: var(--cmplz-legacy-border-radius);
  margin-top: var(--cmplz-legacy-spacing-s);
  margin-bottom: var(--cmplz-legacy-spacing-xs);
  width: 100%;
  display: flex;

  .cmplz-icon {
    margin-right: 10px;
  }

  &.cmplz-success {
    background-color: var(--cmplz-legacy-green-faded);
  }
  &.cmplz-warning {
    background-color: var(--cmplz-legacy-red-faded);
  }
}