.cmplz-wsc-status-row {
	display:flex;
	.cmplz-icon {
		margin-right:10px;
	}
	.cmplz-wsc-alert {
		padding: var(--cmplz-legacy-spacing-s) var(--cmplz-legacy-spacing-m);
		border-radius: var(--cmplz-legacy-border-radius);
		margin-top: var(--cmplz-legacy-spacing-m);
		width: 100%;

		&.cmplz-wsc-alert-warning {
			background-color: var(--cmplz-legacy-yellow-faded);
		}

		.cmplz-wsc-alert-title {
			font-weight: bold;
		}
	}
}
